#special section for MicrosoftStoreService Sample
.vs/*
MicrosoftStoreServicesSample/*.user
MicrosoftStoreServicesSample/bin/*
MicrosoftStoreServicesSample/obj/*
MicrosoftStoreServicesSample/Properties/*
MicrosoftStoreServicesSample/.config/*
MicrosoftStoreServicesSample/Migrations/*
MicrosoftStoreServicesSample/appsettings*
